.div-head{
    color: rgb(174, 108, 236);
    size: 58px;
    margin-left: 650px;

}
.div-body1{
    color: rgb(151, 76, 221);
    margin-left: 50px;
    

}
.div-body2{
    color: black;
    margin-left: 50px;
}
.picture{
    margin-left: 50px;
}
.sport{
    size: 50px;
    margin-left: 50px;
}
.programming{
    margin-left: 1000px;
    margin-top: -600px;
}
.reading{
    margin-left: 1000px;
    margin-top: 10px;
}